<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Weatherland</title>
        <link rel="icon" href="/assets/weathers/snow2.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/about.css">
    </head>
    <body id="about">
        {{>header}}

        <div class="container">
            <div class="row justify-content-md-center justify-content-lg-start">
                <div class="col-md-10 col-lg-6 text-right">
                    <h1>The Author</h1>
                </div>
            </div>
            <div class="row justify-content-md-center justify-content-lg-start">
                <div class="col-md-10 col-lg-6 text-right">
                    <div class="keywords">
                        <h5>RESEARCH&nbsp; •&nbsp;</h5>
                        <h5>DESIGN&nbsp;•   &nbsp;</h5>
                        <h5>DEVELOPMENT</h5>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-10 col-lg-5 text-left">
                    <div class="content">
                        <p>Hello there! This is Cora Wang!</p>

                        <p>This site used geographic data from <a target="_blank" href="https://api.mapbox.com/">Mapbox</a>
                            amd weather data from <a target="_blank" href="https://weatherstack.com/">Weatherstack</a>. </p>

                        <p>I view myself as a full-stack and UX engineer who works on a hybrid of design and engineering.
                            I design for real needs and code it into tangible user experience. I am currently completing
                            a master’s in Human-Computer Interaction at Carnegie Mellon University, School of Computer Science.</p>
                    </div>
                    <br/>
                    <p>Get in touch with me via <a href="mailto:cora.jwang@gmail.com">email</a> or visit my portfolio at <a target="_blank" href="https://corawang.dev">corawang.dev</a>!</p>
                </div>
                <div class="col-md-10 col-lg-5 text-left">
                    <img class="aboutImage" src="/assets/About2.png" alt={"profile"}/>
                </div>
            </div>
        </div>

        {{>footer}}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    </body>
</html>
