<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Weatherland</title>
        <link rel="icon" href="/assets/weathers/snow2.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/weather.css">
    </head>

    <body>
        {{>header}}
        <div class="container main">

            <div class="row justify-content-center ">
                <div class="col-6">
                    <img class="main--image" src="/assets/weathers/qingtian.svg" alt="sunny"/>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <p>Get real-time weather updates!</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12">
                    <form id="search">
                        <input placeholder="Enter a location">
                        <button> Search </button>
                    </form>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-10">
                    <div id="result">
                        <div id="message-0"></div>
                        <div id="message-1"></div>
                        <div id="message-2"></div>
                    </div>
                </div>
            </div>

        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>

</html>
